#OrderSummaryWrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background:hsl(225, 100%, 94%);
    z-index: 10;
}

#OrderSummaryCard {
  background-color: white;
  border-radius: 15px;
  margin: 60px auto;
  width: 300px;
  height: 500px;
  position: relative;
 
}

#OrderSummaryBanner{
    height: 30%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#OrderSummaryDetails{
    height: 65%;
    text-align: center;
}

#OrderSummaryTitle{
    font-weight: 900;
    padding-top: 20px;
    margin-bottom: 20px;
}

#OrderSummaryInfo{
    padding-left: 10px;
    padding-right: 10px;
    display: inline;
    font-weight: 500;
}

#OrderSummaryCostSection{
    margin: 20px 20px;
    background-color: #D3D3D3;
    display: block;
    height: 80px;
    border-radius: 10px;
}

#OrderSummaryMusicIcon{
    padding: 5px 5px;
    float: left;
    margin-top: 10px;
    margin-left: 5px;
}

#OrderSummaryRate{
    padding: 5px 5px;
    float: right;
    margin-top: 25px;
    margin-right: 5px;
}

#Plan{
    font-weight: 900;
    padding-bottom: 5px;
}

#OrderSummaryChangeLink{
    padding: 5px 5px;
    display: inline-block;
    margin-top: 10px;
}

#OrderSummaryButtonsSection{
    height: 70px;
}

#OrderSummaryPaymentButton{
    background-color: hsl(223, 47%, 23%);
    color: white;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    padding: 5px 50px;
}

#OrderSummaryCancelButton{
    margin-top: 10px;
    display: block;
    margin-left: 100px;
    border: none;
}